body {
  background: url('/images/background.jpeg');
  text-align: center;
}
.logo {
  display: inline-flex;
}

nav {
  display: flex;
}

.nav-wrapper-left {
  position: absolute;
}
.nav-wrapper-left li{
  left: 50px;
  display: inline-flex;
  padding-right: 10px;
  list-style: none;
}

.nav-wrapper-right{
  position: absolute;
  right: 50px;
}
@media screen and (max-width: 510px){ 
  .nav-wrapper-left + .nav-wrapper-right {
    margin-top: 18px;
  }
}